<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/css/dec.css">
  </head>
  <body>
    <div id = "main_div_h"> 

    <h1>HANGMAN</h1>
    <% if @play == false%>
    <form method="post" action="/playHangman">
        <button type="submit" id="apply">PLAY GAME</button>
    </form>
    <% end%>

    <% if @play == true  && @@game.win? == false && @@game.lose? == false%>
    <h2><%= secret_code %></h2>    
    <form method="post" action="/runHangman">
        LETTER: <input type="text" id="str" name = "str" >
        <button type="submit" id="apply">GUESS!</button>
    </form>
    
      <div class = "stats">
        <p id ="stats">Misses: <%= guess%></p>   
        <p id ="stats">Turns: <%= turns%></p>
        <p id ="stats">Guessed Letters: <%= missed%></p>
      </div>
    <%end%>

    <div id = "output_hangman"> 
      <p id = "hang_out"><%= output %></p>
    </div>      

    </div>
    
      <form method="post" action="/backMenu">
        <button type="submit" id="back_to_main">BACK</button>
      </form>
  </body
</html>