<p>
  <strong>TITLE:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>TEXT: </strong>
  <%= @article.text %>
</p>
<%= render 'comments/article_comments'%>
<%= render 'comments/new_comment' %>

<%= link_to 'Edit', articles_path %>
<%= link_to 'Back', articles_path %>