<%= form_for(@booking, url: bookings_path) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= f.hidden_field :flight_id %>
  <% cntr = 0 %>
  <%= f.fields_for :passengers do |passenger| %>    
      <h2> <%= "Passenger #{cntr += 1} information" %> </h2>
      <%= passenger.label :name %>
      <%= passenger.text_field :name %>

      <%= passenger.label :email %>
      <%= passenger.text_field :email %>    
  <%end%>
  <%= f.submit "submit booking" , class: "btn btn-primary" %>
<% end %>
